*{
    margin: 0;
    padding: 0;
}

li{
    list-style: None;
}

html body{
    background: lightyellow;
    width: 60%;
    margin: 0 auto;
}

.top-title{
    width: 100%;
    height: 80px;
    background: lightpink;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border: solid 5px black;
    cursor: pointer;
}

.top-title h1{
    line-height: 80px;
    color: mediumpurple;
}

.top{
    width: 100%;
    height: auto;
    text-align: center;
}

.fenlan div{
    display: inline-block;
    width: 15%;
    height: auto;
    background: lightpink;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    border: solid 5px black;
    box-sizing: border-box;
    cursor: pointer;
}

.medium{
    width: 100%;
    height: 750px;
    background: mediumpurple;
    border: solid 5px black;
    box-sizing: border-box;
    text-align: center;
}

.cartoon{
    display: block;
}

.movies{
    display: None;
}

.record{
    display: None;
}

li {
    display: inline-block;
    width: 18%;
    height: 350px;
    background: lightpink;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border: solid 5px black;
    box-sizing: border-box;
    position: relative;
}

.pages{
    width: 100%;
    height: 40px;
    background: pink;
    border: solid 5px black;
    text-align: center;
    cursor: pointer;
}
